# Виртуальное окружение
venv/
.venv/
env/
.env

# Кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/
*.iml

# Логи
*.log
*.tmp

# Секреты
*.pem
*.key

# Сборка
dist/
build/
*.egg-info/
*.egg

# Файлы ОС
.DS_Store
Thumbs.db

.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/MANUL.iml
.idea/inspectionProfiles/profiles_settings.xml
e9ea8463a4081ef9f1f81e661800806d53e6f06d
